@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Inter', sans-serif;

}

body {
    max-width: 1300px;
    width: 100%;
    height: 545px;
    margin-left: 115px;
    margin-right: 115px;
}

.cabeçalho {

    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
}

.cabeçalho-titulo {
    font-size: 26px;
    font-weight: 600;
    color: #0D0D0E;

}

main {
    display: flex;
    justify-content: space-between;

}

aside {
    display: flex;
    
    flex-direction: column;
    background-color: #ffd8a8;
    width: 30%;
    
   
}

.recents_posts {
    margin: 10px;
    display: flex;
    flex-direction: column;
 align-items: center;

}

.posts_lateral{
display: flex;
flex-direction: row;
margin: 10px;
align-items: center;
}

.links_laterais{
    margin-left: 10px;
    color: #0D0D0E;
}

.titulo_lateral {
    font-size: 22px;
    font-weight: 600;
    color: #0D0D0E;
}


.texto_noticia {
    width: 90%;
    color: #343A40;
line-height: 25px;

}

.titulo-noticia {

    font-size: 22px;
    flex-wrap: wrap;
    color: #0D0D0E;

}

.noticias {
    display: flex;
    width: 60%;
   /* background-color: blueviolet;*/
    flex-wrap: wrap;
    justify-content: space-around;
    
}




.noticia-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
    margin: 10px;
    background-color: #ffa8a8;
    height: 343px;
    /*color: #0D0D0E;*/


}

.noticia-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
    margin: 10px;
    height: 343px;
    background-color: #eebefa;
   
}

.noticia-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
    margin: 10px;
    height: 343px;
    background-color: #91a7ff;
    
}

.noticia-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
    margin: 10px;
    height: 343px;
    background-color: #96f2d7;
    

}