@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Inter', sans-serif;

}

body {
    max-width: 1300px;
    height: 800px;
}

.cabeçalho {

    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
}

.cabeçalho-titulo {
    font-size: 26px;
    font-weight: 600;
    color: #0D0D0E;

}

main {

    width: 80%;
    height: 900px;
    margin-left: 115px;
    margin-right: 115px;
    display: flex;
    justify-content: space-between;
    

}

aside {
    display: flex;

    flex-direction: column;
   
    width: 30%;


}

.recents_posts {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.posts_lateral {
    display: flex;
    flex-direction: row;
    margin: 10px;
    align-items: center;
}

.links_laterais {
    margin-left: 10px;
    color: #0D0D0E;
}

.titulo_lateral {
    font-size: 22px;
    font-weight: 600;
    color: #0D0D0E;
}





.noticias {
    display: flex;
    width: 60%;
    /* background-color: blueviolet;*/
    flex-wrap: wrap;
    justify-content: space-around;

}


.texto_noticia {
    width: 90%;
  color: #343A40;

    line-height: 25px;
    font-size: 12px;
    margin-top: 5px;

}

.titulo-noticia {

    font-size: 22px;
    flex-wrap: wrap;
    color: #0D0D0E;
    padding: 10px;
    

}

a:hover{
text-decoration: underline;

}

.imagem_grande {
    width: 100%;
}


.noticia-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
    margin: 10px;
    
    height: 400px;
    /*color: #0D0D0E;*/


}

.noticia-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
    margin: 10px;
    height: 400px;
    

}

.noticia-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
    margin: 10px;
    height: 400px;
   

}

.noticia-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
    margin: 10px;
    height: 400px;
   


}

.categorias {
    display: flex;   
    justify-content:space-between;
    row-gap: 10px;
    margin: 10px;
}



footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1500px;
    margin-top: 50px;
    background-color: #000000;
    height: 100px;
    width: 100%;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

#see_news_footer{
    color: white;
}

.social-media{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}